@charset "UTF-8";
/* line 9, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
body {
  font-family: Arial, Helvetica, sans-serif !important; }

/* line 13, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
h3, h4 {
  font-family: Arial, Helvetica, sans-serif !important; }

/* line 16, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
a {
  color: #0a84c1 !important; }
  /* line 20, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  a :hover {
    color: #085397 !important; }

/* line 27, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.storefront-primary-navigation {
  background-color: #046aa8 !important; }

/* line 30, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.boutique-primary-navigation {
  box-shadow: none !important;
  line-height: 0.5em !important; }

/* line 34, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.site-header .main-navigation {
  line-height: 0.5em !important; }

/* line 39, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.col-full .top-navigation {
  display: inline;
  padding-bottom: 2em;
  background-color: #eee; }

/* line 50, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.top-left-navigation {
  width: auto;
  float: left;
  /*margin-right: 4.347826087%;*/
  clear: both; }
  /* line 56, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .top-left-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left; }

/* line 63, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.top-right-navigation {
  width: auto;
  float: right;
  /*margin-right: 4.347826087%;*/
  clear: both; }
  /* line 69, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .top-right-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left; }

/* line 79, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a, .site-header-cart .cart-contents {
  font-size: 0.9em !important;
  color: #ffffff !important; }

/* line 84, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.main-navigation ul.nav-menu > li > a :hover {
  background-color: #9fddff; }

/* line 95, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#nav_menu-4 h3 {
  margin-bottom: 0px !important;
  background-color: #046aa8;
  color: #fff;
  text-align: center;
  font-size: 1em !important;
  line-height: 2.7em;
  padding: 0 !important; }

/* line 105, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#nav_menu-4 ul > li {
  background-color: #f2f2f2;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #fff; }
  /* line 109, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  #nav_menu-4 ul > li a {
    text-decoration: none !important;
    padding: 10px;
    line-height: 30px; }
    /* line 113, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
    #nav_menu-4 ul > li a :hover {
      text-decoration: underline !important; }

/* line 119, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#nav_menu-4 ul > li :before {
  content: none !important; }

/* line 125, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.widget_nav_menu ul li:before {
  content: "" !important;
  margin-left: 0.7em;
  margin-right: 0em !important; }

/* line 130, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.widget_nav_menu ul .sub-menu {
  margin-top: 0em !important; }

@media (min-width: 768px) {
  /* line 135, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .hentry.type-post .entry-content {
    width: 99% !important; } }

/* line 143, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.footer-widgets {
  padding-top: 0 !important; }
  /* line 145, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .footer-widgets h3 {
    font-size: 0.9em;
    font-weight: bold !important; }
  /* line 149, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .footer-widgets a {
    font-size: 0.9em !important;
    color: #9fddff !important;
    font-weight: 400 !important; }
    /* line 153, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
    .footer-widgets a :hover {
      color: #ffffff !important; }
  /* line 157, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .footer-widgets .widget_nav_menu ul li:before {
    content: none !important; }

/* line 166, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.sidebar-bottom {
  padding-top: 2.618em;
  padding-bottom: 2.618em;
  background-position: center center;
  background-color: #f5f5f5; }

/* line 176, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#blog_subscription-3 .widget-title {
  width: 50%;
  float: left; }

/* line 181, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#subscribe-email {
  width: 30%;
  float: left; }

/* line 186, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#subscribe-submit {
  width: auto;
  float: right;
  border: 2px solid #fff; }

/* line 194, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.colophon .col-full {
  background-color: #0a84c1 !important; }

/* line 200, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.site-footer .col-full {
  background-color: #0a84c1 !important; }

/* line 205, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.site-content .col-full {
  box-shadow: none !important; }

/* line 210, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.logo {
  height: auto;
  width: auto;
  padding: inherit; }

/* line 218, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.jetpack-display-remote-posts h4 {
  font-size: 1em !important; }
  /* line 220, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .jetpack-display-remote-posts h4 a {
    font-size: 1em !important;
    text-decoration: none !important; }

/* line 225, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.jetpack-display-remote-posts > p {
  font-size: 1em !important;
  border-bottom: 1px solid #e9eff3;
  padding-bottom: 1em !important; }

/* line 231, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.jetpack-display-remote-posts img {
  padding-bottom: 1em; }

/* line 239, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
#primary .woocommerce .product img {
  border: 1px solid #f5f5f5 !important; }
  /* line 241, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  #primary .woocommerce .product img :hover {
    opacity: 0.8 !important;
    transform: scale(0.985) !important; }

/* line 251, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.woocommerce-tabs ul.tabs {
  width: 98% !important; }

/* line 254, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
.woocommerce-tabs ul.tabs li {
  display: inline-block !important;
  margin: 0 20px !important; }

@media (min-width: 768px) {
  /* line 259, D:/xampp/htdocs/storefront/wp-content/themes/Blue-classic/custom.scss */
  .woocommerce-tabs .panel {
    width: 98% !important; } }

/*# sourceMappingURL=custom.css.map */