// common coment
//h3: title widget




//1 - Global Css
//---------------------------------------------------------
body {
    font-family: Arial,Helvetica,sans-serif!important;
}

h3, h4 {
    font-family: Arial,Helvetica,sans-serif!important;
}
a {
    color: #0a84c1!important;
    
    
    :hover {
         color: #085397!important;
    }
}

//2 Top banner
//---------------------------------------------------------
.storefront-primary-navigation {
    background-color: #046aa8!important;
}
.boutique-primary-navigation {
    box-shadow: none!important;
    line-height: 0.5em!important;
}
.site-header .main-navigation {
    line-height: 0.5em!important;
}

.col-full {
    .top-navigation {
        display: inline;
        padding-bottom: 2em;
        background-color: #eee;
            ul {
            
                }
    }
    
}

.top-left-navigation {
    width: auto;
    float: left;
    /*margin-right: 4.347826087%;*/
    clear: both;
    ul{
        li {
            position: relative;
            display: inline-block;
            text-align: left;
        }
    }
}
.top-right-navigation {
    width: auto;
    float: right;
    /*margin-right: 4.347826087%;*/
    clear: both;
    ul{
        li {
            position: relative;
            display: inline-block;
            text-align: left;  
        }
    }
}
.site-header {
// padding-top: 10px!important;   
}
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a, .site-header-cart .cart-contents {
   font-size: 0.9em !important;
    color: #ffffff!important;    
}
.main-navigation ul.nav-menu > li > a {
    :hover {
        background-color: #9fddff;
    }
}

//3 Customise css content
//---------------------------------------------------------

//4 - Customise css sidebar right
//Menu left
#nav_menu-4 {
    h3 {
    margin-bottom: 0px!important;
    background-color: #046aa8;
    color: #fff;
    text-align: center;
    font-size: 1em!important;
    line-height: 2.7em;
    padding: 0!important;
    }
    ul {
    > li {
        background-color: #f2f2f2;
        margin-bottom: 0!important;
        border-bottom: 1px solid #fff;
        a {
            text-decoration: none!important;
            padding: 10px;
            line-height: 30px;
        :hover {
                text-decoration: underline!important;
            }
        }        
    }
        > li {
            :before {
                content: none!important;
            }
        }
    }
}
.widget_nav_menu ul li:before {
    content: "\f0fe"!important;
    margin-left: 0.7em;
    margin-right: 0em!important;
}
.widget_nav_menu ul .sub-menu {
    margin-top: .0em!important;
}

@media (min-width: 768px){
.hentry.type-post .entry-content {
    width: 99%!important;
}
}
//---------------------------------------------------------

//5 - Customize footer Css
//---------------------------------------------------------
.footer-widgets {
    padding-top: 0!important;
    h3 {
        font-size: 0.9em;
        font-weight: bold!important;        
    }
    a {
        font-size: 0.9em !important;
        color: #9fddff!important;
        font-weight: 400!important;
        :hover {
            color: #ffffff!important;            
        }
    }
    .widget_nav_menu ul li:before {
        content: none!important;
    }
        
}


//Custom bottom css

.sidebar-bottom {
    padding-top: 2.618em;
    padding-bottom: 2.618em;
    background-position: center center;
    background-color: #f5f5f5;
    }

// 6 - Other Customise css
//---------------------------------------------------------
#blog_subscription-3{
    .widget-title {
        width: 50%;
        float: left;        
    }
}
#subscribe-email {
            width: 30%;
            float: left;
        }

#subscribe-submit {
            width: auto;
            float: right;
            border: 2px solid #fff;
        }


.colophon {
    .col-full {
       background-color: #0a84c1 !important; 
    }
}
.site-footer {
//    background: url('/views/images/bg-pattern.gif') repeat;
    .col-full {
        background-color: #0a84c1 !important;
    }
}

.site-content .col-full {
    box-shadow: none !important;
}


.logo   {
    height: auto;
    width: auto;
    padding: inherit;
    
}
//7 - Customise widget css
.jetpack-display-remote-posts {
    h4 {
        font-size: 1em!important;
      a {
        font-size: 1em!important;
        text-decoration: none!important;
    }  
    } 
    > p {
        font-size: 1em!important; 
        border-bottom: 1px solid #e9eff3;
        padding-bottom: 1em!important;
        }    
    
    img {
        padding-bottom: 1em;
    }
}
//woocommerce css
#primary {
.woocommerce {
    .product {
        img {
            border: 1px solid #f5f5f5!important;            
            :hover {
                opacity: 0.8!important;
                transform: scale(0.985)!important;
            }            
        }
        
    }
}
}

.woocommerce-tabs ul.tabs {
    width: 98%!important;
 }
.woocommerce-tabs ul.tabs li {
    display: inline-block!important;
    margin: 0 20px!important;
}
@media (min-width: 768px) {
.woocommerce-tabs .panel {
    width: 98%!important;
}
}